/* ----------------------DEFAULT TAGS */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 56px;
  padding: 0;
  font-family: 'Source Code Pro';
  background-color: #191919;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #eee;
}

h2 {
  color: #eee;
  font-weight: 400;
}

/* ----------------------NAVBAR */

.navbar {
  overflow: hidden;
  background-color: #222;
  position: fixed;
  top: 0;
  padding: 0;
  width: 100%;
  font-size: 120%;
}

.navbar a {
  float: left;
  display: block;
  color: #0d79de;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

.navbar a:hover {
  background: #0d79de;
  color: black;
}

.navbar-right {
  float: right;
}


/* ----------------------BUTTONS */

.firstbutton {
  font-family: 'Source Code Pro';
  border: none;
  /* margin:  */
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 150%;
  background: #0d79de;
  cursor: pointer;
}

.firstbutton:hover {
  background: #0d79de;
  color: #eee;
}

.firstbutton:active {
  background: #0d79de66;
}

/* ----------------------OTHER */

.main {
  margin-top: 56px;
  /* width: 97%; */
  /* float: left; */
}

.footer {
  width: 100%;
  overflow: hidden;
  background-color: #aaa;
  padding: 20px;
}

.firstpage {
  margin-top: 0px;
  padding: 0;
  margin: 0;
  width: 100%;
  /* height: 100vh; */
  background-color: #191919;
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  grid-template-columns: 1fr 10fr 15fr;
}

.linesofcode {
  background-color: #191919;
  grid-column: 1;
  grid-row: 1 / 4;
  padding-right: 20px;
  /* width: 3%; */
  color: #505050;
  text-align: end;
}

.firstpage-right {
  background-color: #191919;
  grid-column: 3;
  grid-row: 1;
  height: 100vh;
}

.firstpage-left {
  background-color: #191919;
  grid-column: 2;
  grid-row: 1;
  height: 100vh;
  color: #eee;
}

.main {
  background-color: #191919;
  grid-column: 2;
  grid-row: 2;
}
